<div class="gradient">
  <div id="panel" class="">
    <div id="inside-panel">
      <div class="gradient-border">
        <ul>
          <li><b>Email:</b><span id="title">{{user.email}}</span></li>
        </ul>
        <h1 style="color: black;">{{user.name}}</h1>
        <hr />
        {{#if user.avatarUrl}}
          <img
          class="avatar"
            src="/{{user.avatarUrl}}"
            alt="avatar-{{user.name}}"
          />
        {{else}}
          <img
          class="avatar"
            src="149071.png"
            alt="avatar-{{user.name}}"
          />
        {{/if}}
        <form action="/profile" method="POST" enctype="multipart/form-data">
          <div class="input-field">
            <input
              id="name"
              name="name"
              type="text"
              class="validate"
              required
            />
            <label for="img">Enter Your Name</label>
            <span class="helper-text" data-error="Enter your name"></span>
          </div>
          <div class="file-field input-field">
            <div class="btn deep-orange accent-3">
              <span>Photo</span>
              <input type="file" name="avatar" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
          <button type="submit" class="btn deep-orange accent-4">Change Account</button>
        </form>
      </div>
    </div>
  </div>
</div>